/* styles.css (or your stylesheet file) */
.button {
    margin-right: 5px;
    
  }
  .read {
    background: #42a72be0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: right;
  }
  
  .delete {
    background: #f14747ef;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: right;
  }
  
  .update {
    background: #3687c5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: right;
  }
  
  .create .label{
    left: 20%;
  }

  
  .create #textbox{
    left: -40px;
  }

  .create #desc{
    left: -21px; 
  }

  .create #cate{
    left: -4px;
  }

  .create #pri{
    left: 23px;
  }
  

  .cancel{
    align-items: center;
  }


 

  .create #d{
    left: -23px;

  }
  .create #c{
    left:-8px;
  }

  .create #q{
    left: -7px;
  }

  .create #p{
    left: 17px;
  }